.field {
	position: relative;
	margin-bottom: 20px;
	.iconSearch {
		position: absolute;
		left: 10px;
		top: 31%;
		z-index: 10;
	}
	.iconClose {
		position: absolute;
		right: 15px;
		top: 31%;
		z-index: 10;
		cursor: pointer;
	}
	.input {
		padding: 5px 40px 5px 30px;
	}
}
